
body {
	margin: 15px auto 0 auto;
	width: 60%;
	background-color: #C3AF94; /*#6AA26A;*/ /*#346A34; #FFCB80;*/
	font-family: sans-serif;
	font-size: 13px;
	color: #0B3736; /*#234823;*/ /*#345A34;*/ /*#6AA26A;*/
	text-align: justify;
	background: #C3AF94; /*#6AA26A*/ url("logo_back.png") fixed repeat;
}

a {
	color: inherit;
}

h2 {
	text-align: center;
}

.menu {
	box-shadow: 0px 0px 15px #000000;
	background-color: #643A3B; /*#411;*/
	margin-bottom: 3em;
	color: #CD837A; /*#722;*/
	display: block;
	position: relative;
	font-size: 12px;
	width: 100%;
	height: 5em;
	box-shadow: 0px 0px 15px #000000;
}

.menu > img {
	float: left;
	height: 4.5em;
	opacity: 1.0;
	margin: 0.25em;
}

.menu h1 {
	padding-top: 1em;
}

.menu nav {
	display: block;
	position: absolute;
	margin: 0 0 0 9em;
	padding: 0;
	width: 60%;
}

.menu nav > a {
	display: block;
	float: left;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	/*width: 6.5em;*/
	height: 3em;
	line-height: 3em;
	/*border-radius: 5px;*/
	border: 1px solid white;
	margin-left: -1px;
	padding: 5em 1em 0 1em;
	/*background-image: -moz-linear-gradient(right, #201010, #101010);*/
	/*background-image: -moz-linear-gradient(right, #CD837A, #643A3B);*/
	color: #C3AF94;
	opacity: 0.7;
	text-decoration: none;
	font-family: "Tahoma", sans-serif;
	font-variant: small-caps;
}

.menu nav > a:hover {
	opacity: 1.0;
	padding-top: 7em;
}

.menu > p {
	display: block;
	text-align: right;
	line-height: 3.75em;
	color: black;
	margin-right: 0.5em;
	font-size: 16px;
	font-variant: small-caps;
}

nav > a:hover {
	/*background-color: rgba(127,127,127,0.1); */
	/*background-image: -moz-linear-gradient(left, #201010, #101010);*/
	/*background-image: linear-gradient(top, #dddddd, #bbbbbb);*/
}

nav > a.active {
	/*background-color: #FA8;*/
}

a#menu-1 { background-color: #0B3736 }
a#menu-2 { background-color: #858C62; color: black }
a#menu-3 { background-color: #643A3B }
a#menu-4 { background-color: #6D8D80; color: black }
a#menu-5 { background-color: #0B3736 }
a#menu-6 { background-color: #858C62; color: black }

.container {
	margin: 0; /*0 0 0 20%;*/
	left: 0;
	padding: 20px;
}


aside {
	position: fixed;
	left: 10px;
	top: 35%;
	width: 20%;
	height: 30%;
	background: rgba(100,58,59,0.6);
	border: 1px solid #643A3B;
}

aside > * {
	margin: 5px;
}

aside h1 {
	text-align: center;
}

img.portrait {
	width: 250px;
	float: left;
	margin: 0 10px;
	box-shadow: 0 0 15px black;
}

img.affiche {
	display: block;
	margin: auto;
	height: 500px;
	box-shadow: 0 0 15px black;
	border: 2px solid white;
}

